@font-face {
  font-family: Grumpy;
  src: url('grumpy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font: normal 18px/1.5 Grumpy, sans-serif;
  color: #222;
  margin: 0;
  background: #fffff8;
}

main {
  max-width: 35em;
  margin: 0 auto;
  padding: 0 1em;
}

h1 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: hsl(180, 100%, 20%);
  transition: all .3s;
}

a:focus,
a:hover {
  text-decoration: underline;
  color: hsl(180, 100%, 30%);
}

footer {
  font-size: small;
  color: #444;
  margin-top: 4em;
}

.getit {
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 0 10px;
  line-height: 30px;
  font-size: 120%;
  text-decoration: none;
  color: white;
  border-top: 1px solid hsl(140, 50%, 80%);
  border-radius: 4px;
  box-shadow:
              0 0 0 1px hsl(140,100%,40%)
              ,
              0 0 4px 2px hsl(140,100%,70%)
              ;
  background: hsl(140,70%,40%) linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.4));
  text-shadow: 0 -1px hsl(140, 50%, 20%);
  transition: all .3s;
}

.btn:focus,
.btn:hover {
  color: hsl(140,100%,95%);
  border-color: hsl(140, 50%, 80%);
  box-shadow:
              0 0 0 1px hsl(140,100%,60%)
              ,
              0 0 6px 3px hsl(140,100%,70%)
              ;
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,0,0,.3));
  text-shadow: 0 -1px hsl(140, 100%, 10%);
}

.support-chart {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1em auto;
  min-width: 50%;
}

.support-chart caption {
  font-style: italic;
  color: #444;
}

.support-chart th,
.support-chart td {
  text-align: left;
  padding: 5px 10px;
  border: 1px solid #ddd;
}

.eye-candy {
  text-align: center;
  font-size: 94px;
  color: hsl(0,100%,50%);
  -webkit-animation-duration: 3s;
  -webkit-animation-name: slidein;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes slidein {
  from {
  color: hsl(0,100%,50%);
  text-shadow:
    1px 0 hsl(10,100%,50%),
    2px 0 hsl(20,100%,50%),
    3px 0 hsl(30,100%,50%),
    4px 0 hsl(40,100%,50%),
    5px 0 hsl(50,100%,50%),
    6px 0 hsl(60,100%,50%),
    7px 0 hsl(70,100%,50%),
    8px 0 hsl(80,100%,50%),
    9px 0 hsl(90,100%,50%),
    10px 0 hsl(100,100%,50%),
    11px 0 hsl(110,100%,50%),
    12px 0 hsl(120,100%,50%),
    13px 0 hsl(130,100%,50%),
    14px 0 hsl(140,100%,50%),
    15px 0 hsl(150,100%,50%),
    16px 0 hsl(160,100%,50%),
    17px 0 hsl(170,100%,50%),
    18px 0 hsl(180,100%,50%),
    19px 0 hsl(190,100%,50%),
    20px 0 hsl(200,100%,50%),
    21px 0 hsl(210,100%,50%),
    22px 0 hsl(220,100%,50%),
    23px 0 hsl(230,100%,50%),
    24px 0 hsl(240,100%,50%),
    25px 0 hsl(250,100%,50%),
    26px 0 hsl(260,100%,50%),
    27px 0 hsl(270,100%,50%),
    28px 0 hsl(280,100%,50%),
    29px 0 hsl(290,100%,50%),
    30px 0 hsl(300,100%,50%),
    31px 0 hsl(310,100%,50%),
    32px 0 hsl(320,100%,50%),
    33px 0 hsl(330,100%,50%),
    34px 0 hsl(340,100%,50%),
    35px 0 hsl(350,100%,50%),
    36px 0 hsl(360,100%,50%),
    37px 0 hsl(370,100%,50%),
    38px 0 hsl(380,100%,50%),
    39px 0 hsl(390,100%,50%),
    40px 0 black
    ;
  }

  25% {
  color: hsl(45,100%,50%);
  text-shadow:
     1px 0 hsl(055,100%,50%),
     2px 0 hsl(065,100%,50%),
     3px 0 hsl(075,100%,50%),
     4px 0 hsl(085,100%,50%),
     5px 0 hsl(095,100%,50%),
     6px 0 hsl(105,100%,50%),
     7px 0 hsl(115,100%,50%),
     8px 0 hsl(125,100%,50%),
     9px 0 hsl(135,100%,50%),
    10px 0 hsl(145,100%,50%),
    11px 0 hsl(155,100%,50%),
    12px 0 hsl(165,100%,50%),
    13px 0 hsl(175,100%,50%),
    14px 0 hsl(185,100%,50%),
    15px 0 hsl(195,100%,50%),
    16px 0 hsl(205,100%,50%),
    17px 0 hsl(215,100%,50%),
    18px 0 hsl(225,100%,50%),
    19px 0 hsl(235,100%,50%),
    20px 0 hsl(245,100%,50%),
    21px 0 hsl(255,100%,50%),
    22px 0 hsl(265,100%,50%),
    23px 0 hsl(275,100%,50%),
    24px 0 hsl(285,100%,50%),
    25px 0 hsl(295,100%,50%),
    26px 0 hsl(305,100%,50%),
    27px 0 hsl(315,100%,50%),
    28px 0 hsl(325,100%,50%),
    29px 0 hsl(335,100%,50%),
    30px 0 hsl(345,100%,50%),
    31px 0 hsl(355,100%,50%),
    32px 0 hsl(365,100%,50%),
    33px 0 hsl(375,100%,50%),
    34px 0 hsl(385,100%,50%),
    35px 0 hsl(395,100%,50%),
    36px 0 hsl(405,100%,50%),
    37px 0 hsl(415,100%,50%),
    38px 0 hsl(425,100%,50%),
    39px 0 hsl(435,100%,50%),
    60px 0 black
  }

  50% {
  color: hsl(90,100%,50%);
  text-shadow:
     1px 0 hsl(100,100%,50%),
     2px 0 hsl(110,100%,50%),
     3px 0 hsl(120,100%,50%),
     4px 0 hsl(130,100%,50%),
     5px 0 hsl(140,100%,50%),
     6px 0 hsl(150,100%,50%),
     7px 0 hsl(160,100%,50%),
     8px 0 hsl(170,100%,50%),
     9px 0 hsl(180,100%,50%),
    10px 0 hsl(190,100%,50%),
    11px 0 hsl(200,100%,50%),
    12px 0 hsl(210,100%,50%),
    13px 0 hsl(220,100%,50%),
    14px 0 hsl(230,100%,50%),
    15px 0 hsl(240,100%,50%),
    16px 0 hsl(250,100%,50%),
    17px 0 hsl(260,100%,50%),
    18px 0 hsl(270,100%,50%),
    19px 0 hsl(280,100%,50%),
    20px 0 hsl(290,100%,50%),
    21px 0 hsl(300,100%,50%),
    22px 0 hsl(310,100%,50%),
    23px 0 hsl(320,100%,50%),
    24px 0 hsl(330,100%,50%),
    25px 0 hsl(340,100%,50%),
    26px 0 hsl(350,100%,50%),
    27px 0 hsl(360,100%,50%),
    28px 0 hsl(370,100%,50%),
    29px 0 hsl(380,100%,50%),
    30px 0 hsl(390,100%,50%),
    31px 0 hsl(400,100%,50%),
    32px 0 hsl(410,100%,50%),
    33px 0 hsl(420,100%,50%),
    34px 0 hsl(430,100%,50%),
    35px 0 hsl(440,100%,50%),
    36px 0 hsl(450,100%,50%),
    37px 0 hsl(460,100%,50%),
    38px 0 hsl(470,100%,50%),
    39px 0 hsl(480,100%,50%),
    80px 0 black
  }

  75% {
  color: hsl(135,100%,50%);
  text-shadow:
     1px 0 hsl(145,100%,50%),
     2px 0 hsl(155,100%,50%),
     3px 0 hsl(165,100%,50%),
     4px 0 hsl(175,100%,50%),
     5px 0 hsl(185,100%,50%),
     6px 0 hsl(195,100%,50%),
     7px 0 hsl(205,100%,50%),
     8px 0 hsl(215,100%,50%),
     9px 0 hsl(225,100%,50%),
    10px 0 hsl(235,100%,50%),
    11px 0 hsl(245,100%,50%),
    12px 0 hsl(255,100%,50%),
    13px 0 hsl(265,100%,50%),
    14px 0 hsl(275,100%,50%),
    15px 0 hsl(285,100%,50%),
    16px 0 hsl(295,100%,50%),
    17px 0 hsl(305,100%,50%),
    18px 0 hsl(315,100%,50%),
    19px 0 hsl(325,100%,50%),
    20px 0 hsl(335,100%,50%),
    21px 0 hsl(345,100%,50%),
    22px 0 hsl(355,100%,50%),
    23px 0 hsl(365,100%,50%),
    24px 0 hsl(375,100%,50%),
    25px 0 hsl(385,100%,50%),
    26px 0 hsl(395,100%,50%),
    27px 0 hsl(405,100%,50%),
    28px 0 hsl(415,100%,50%),
    29px 0 hsl(425,100%,50%),
    30px 0 hsl(435,100%,50%),
    31px 0 hsl(445,100%,50%),
    32px 0 hsl(455,100%,50%),
    33px 0 hsl(465,100%,50%),
    34px 0 hsl(475,100%,50%),
    35px 0 hsl(485,100%,50%),
    36px 0 hsl(495,100%,50%),
    37px 0 hsl(505,100%,50%),
    38px 0 hsl(515,100%,50%),
    39px 0 hsl(525,100%,50%),
    100px 0 black
  }

  to {
  color: hsl(180,100%,50%);
  text-shadow:
     1px 0 hsl(190,100%,50%),
     2px 0 hsl(200,100%,50%),
     3px 0 hsl(210,100%,50%),
     4px 0 hsl(220,100%,50%),
     5px 0 hsl(230,100%,50%),
     6px 0 hsl(240,100%,50%),
     7px 0 hsl(250,100%,50%),
     8px 0 hsl(260,100%,50%),
     9px 0 hsl(270,100%,50%),
    10px 0 hsl(280,100%,50%),
    11px 0 hsl(290,100%,50%),
    12px 0 hsl(300,100%,50%),
    13px 0 hsl(310,100%,50%),
    14px 0 hsl(320,100%,50%),
    15px 0 hsl(330,100%,50%),
    16px 0 hsl(340,100%,50%),
    17px 0 hsl(350,100%,50%),
    18px 0 hsl(360,100%,50%),
    19px 0 hsl(370,100%,50%),
    20px 0 hsl(380,100%,50%),
    21px 0 hsl(390,100%,50%),
    22px 0 hsl(400,100%,50%),
    23px 0 hsl(410,100%,50%),
    24px 0 hsl(420,100%,50%),
    25px 0 hsl(430,100%,50%),
    26px 0 hsl(440,100%,50%),
    27px 0 hsl(450,100%,50%),
    28px 0 hsl(460,100%,50%),
    29px 0 hsl(470,100%,50%),
    30px 0 hsl(480,100%,50%),
    31px 0 hsl(490,100%,50%),
    32px 0 hsl(500,100%,50%),
    33px 0 hsl(510,100%,50%),
    34px 0 hsl(520,100%,50%),
    35px 0 hsl(530,100%,50%),
    36px 0 hsl(540,100%,50%),
    37px 0 hsl(550,100%,50%),
    38px 0 hsl(560,100%,50%),
    39px 0 hsl(570,100%,50%),
    120px 0 black
    ;
  }
}

@-webkit-keyframes slidein {
  from {
  color: hsl(0,100%,50%);
  text-shadow:
    1px 0 hsl(10,100%,50%),
    2px 0 hsl(20,100%,50%),
    3px 0 hsl(30,100%,50%),
    4px 0 hsl(40,100%,50%),
    5px 0 hsl(50,100%,50%),
    6px 0 hsl(60,100%,50%),
    7px 0 hsl(70,100%,50%),
    8px 0 hsl(80,100%,50%),
    9px 0 hsl(90,100%,50%),
    10px 0 hsl(100,100%,50%),
    11px 0 hsl(110,100%,50%),
    12px 0 hsl(120,100%,50%),
    13px 0 hsl(130,100%,50%),
    14px 0 hsl(140,100%,50%),
    15px 0 hsl(150,100%,50%),
    16px 0 hsl(160,100%,50%),
    17px 0 hsl(170,100%,50%),
    18px 0 hsl(180,100%,50%),
    19px 0 hsl(190,100%,50%),
    20px 0 hsl(200,100%,50%),
    21px 0 hsl(210,100%,50%),
    22px 0 hsl(220,100%,50%),
    23px 0 hsl(230,100%,50%),
    24px 0 hsl(240,100%,50%),
    25px 0 hsl(250,100%,50%),
    26px 0 hsl(260,100%,50%),
    27px 0 hsl(270,100%,50%),
    28px 0 hsl(280,100%,50%),
    29px 0 hsl(290,100%,50%),
    30px 0 hsl(300,100%,50%),
    31px 0 hsl(310,100%,50%),
    32px 0 hsl(320,100%,50%),
    33px 0 hsl(330,100%,50%),
    34px 0 hsl(340,100%,50%),
    35px 0 hsl(350,100%,50%),
    36px 0 hsl(360,100%,50%),
    37px 0 hsl(370,100%,50%),
    38px 0 hsl(380,100%,50%),
    39px 0 hsl(390,100%,50%),
    40px 0 black
    ;
  }

  25% {
  color: hsl(45,100%,50%);
  text-shadow:
     1px 0 hsl(055,100%,50%),
     2px 0 hsl(065,100%,50%),
     3px 0 hsl(075,100%,50%),
     4px 0 hsl(085,100%,50%),
     5px 0 hsl(095,100%,50%),
     6px 0 hsl(105,100%,50%),
     7px 0 hsl(115,100%,50%),
     8px 0 hsl(125,100%,50%),
     9px 0 hsl(135,100%,50%),
    10px 0 hsl(145,100%,50%),
    11px 0 hsl(155,100%,50%),
    12px 0 hsl(165,100%,50%),
    13px 0 hsl(175,100%,50%),
    14px 0 hsl(185,100%,50%),
    15px 0 hsl(195,100%,50%),
    16px 0 hsl(205,100%,50%),
    17px 0 hsl(215,100%,50%),
    18px 0 hsl(225,100%,50%),
    19px 0 hsl(235,100%,50%),
    20px 0 hsl(245,100%,50%),
    21px 0 hsl(255,100%,50%),
    22px 0 hsl(265,100%,50%),
    23px 0 hsl(275,100%,50%),
    24px 0 hsl(285,100%,50%),
    25px 0 hsl(295,100%,50%),
    26px 0 hsl(305,100%,50%),
    27px 0 hsl(315,100%,50%),
    28px 0 hsl(325,100%,50%),
    29px 0 hsl(335,100%,50%),
    30px 0 hsl(345,100%,50%),
    31px 0 hsl(355,100%,50%),
    32px 0 hsl(365,100%,50%),
    33px 0 hsl(375,100%,50%),
    34px 0 hsl(385,100%,50%),
    35px 0 hsl(395,100%,50%),
    36px 0 hsl(405,100%,50%),
    37px 0 hsl(415,100%,50%),
    38px 0 hsl(425,100%,50%),
    39px 0 hsl(435,100%,50%),
    60px 0 black
  }

  50% {
  color: hsl(90,100%,50%);
  text-shadow:
     1px 0 hsl(100,100%,50%),
     2px 0 hsl(110,100%,50%),
     3px 0 hsl(120,100%,50%),
     4px 0 hsl(130,100%,50%),
     5px 0 hsl(140,100%,50%),
     6px 0 hsl(150,100%,50%),
     7px 0 hsl(160,100%,50%),
     8px 0 hsl(170,100%,50%),
     9px 0 hsl(180,100%,50%),
    10px 0 hsl(190,100%,50%),
    11px 0 hsl(200,100%,50%),
    12px 0 hsl(210,100%,50%),
    13px 0 hsl(220,100%,50%),
    14px 0 hsl(230,100%,50%),
    15px 0 hsl(240,100%,50%),
    16px 0 hsl(250,100%,50%),
    17px 0 hsl(260,100%,50%),
    18px 0 hsl(270,100%,50%),
    19px 0 hsl(280,100%,50%),
    20px 0 hsl(290,100%,50%),
    21px 0 hsl(300,100%,50%),
    22px 0 hsl(310,100%,50%),
    23px 0 hsl(320,100%,50%),
    24px 0 hsl(330,100%,50%),
    25px 0 hsl(340,100%,50%),
    26px 0 hsl(350,100%,50%),
    27px 0 hsl(360,100%,50%),
    28px 0 hsl(370,100%,50%),
    29px 0 hsl(380,100%,50%),
    30px 0 hsl(390,100%,50%),
    31px 0 hsl(400,100%,50%),
    32px 0 hsl(410,100%,50%),
    33px 0 hsl(420,100%,50%),
    34px 0 hsl(430,100%,50%),
    35px 0 hsl(440,100%,50%),
    36px 0 hsl(450,100%,50%),
    37px 0 hsl(460,100%,50%),
    38px 0 hsl(470,100%,50%),
    39px 0 hsl(480,100%,50%),
    80px 0 black
  }

  75% {
  color: hsl(135,100%,50%);
  text-shadow:
     1px 0 hsl(145,100%,50%),
     2px 0 hsl(155,100%,50%),
     3px 0 hsl(165,100%,50%),
     4px 0 hsl(175,100%,50%),
     5px 0 hsl(185,100%,50%),
     6px 0 hsl(195,100%,50%),
     7px 0 hsl(205,100%,50%),
     8px 0 hsl(215,100%,50%),
     9px 0 hsl(225,100%,50%),
    10px 0 hsl(235,100%,50%),
    11px 0 hsl(245,100%,50%),
    12px 0 hsl(255,100%,50%),
    13px 0 hsl(265,100%,50%),
    14px 0 hsl(275,100%,50%),
    15px 0 hsl(285,100%,50%),
    16px 0 hsl(295,100%,50%),
    17px 0 hsl(305,100%,50%),
    18px 0 hsl(315,100%,50%),
    19px 0 hsl(325,100%,50%),
    20px 0 hsl(335,100%,50%),
    21px 0 hsl(345,100%,50%),
    22px 0 hsl(355,100%,50%),
    23px 0 hsl(365,100%,50%),
    24px 0 hsl(375,100%,50%),
    25px 0 hsl(385,100%,50%),
    26px 0 hsl(395,100%,50%),
    27px 0 hsl(405,100%,50%),
    28px 0 hsl(415,100%,50%),
    29px 0 hsl(425,100%,50%),
    30px 0 hsl(435,100%,50%),
    31px 0 hsl(445,100%,50%),
    32px 0 hsl(455,100%,50%),
    33px 0 hsl(465,100%,50%),
    34px 0 hsl(475,100%,50%),
    35px 0 hsl(485,100%,50%),
    36px 0 hsl(495,100%,50%),
    37px 0 hsl(505,100%,50%),
    38px 0 hsl(515,100%,50%),
    39px 0 hsl(525,100%,50%),
    100px 0 black
  }

  to {
  color: hsl(180,100%,50%);
  text-shadow:
     1px 0 hsl(190,100%,50%),
     2px 0 hsl(200,100%,50%),
     3px 0 hsl(210,100%,50%),
     4px 0 hsl(220,100%,50%),
     5px 0 hsl(230,100%,50%),
     6px 0 hsl(240,100%,50%),
     7px 0 hsl(250,100%,50%),
     8px 0 hsl(260,100%,50%),
     9px 0 hsl(270,100%,50%),
    10px 0 hsl(280,100%,50%),
    11px 0 hsl(290,100%,50%),
    12px 0 hsl(300,100%,50%),
    13px 0 hsl(310,100%,50%),
    14px 0 hsl(320,100%,50%),
    15px 0 hsl(330,100%,50%),
    16px 0 hsl(340,100%,50%),
    17px 0 hsl(350,100%,50%),
    18px 0 hsl(360,100%,50%),
    19px 0 hsl(370,100%,50%),
    20px 0 hsl(380,100%,50%),
    21px 0 hsl(390,100%,50%),
    22px 0 hsl(400,100%,50%),
    23px 0 hsl(410,100%,50%),
    24px 0 hsl(420,100%,50%),
    25px 0 hsl(430,100%,50%),
    26px 0 hsl(440,100%,50%),
    27px 0 hsl(450,100%,50%),
    28px 0 hsl(460,100%,50%),
    29px 0 hsl(470,100%,50%),
    30px 0 hsl(480,100%,50%),
    31px 0 hsl(490,100%,50%),
    32px 0 hsl(500,100%,50%),
    33px 0 hsl(510,100%,50%),
    34px 0 hsl(520,100%,50%),
    35px 0 hsl(530,100%,50%),
    36px 0 hsl(540,100%,50%),
    37px 0 hsl(550,100%,50%),
    38px 0 hsl(560,100%,50%),
    39px 0 hsl(570,100%,50%),
    120px 0 black
    ;
  }
}
